<ion-header>
  <ion-toolbar>
    <ion-title>link</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>

    <ion-card-header>
      <ion-card-title>Linked Users</ion-card-title>
    </ion-card-header>

    <ion-card-content *ngFor="let user of (userData | async)?.usersList">
      <p>{{ user.newInputEmail }}</p>
    </ion-card-content>
      
  </ion-card>
  <ion-list>
      <ion-item>
          <ion-label position="floating">Enter user email</ion-label>
          <ion-input type="text" [(ngModel)]="linkUserEmail"></ion-input>
      </ion-item>
    </ion-list>

  <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="full" fill="solid" color="dark" (click)="linkUser(linkUserEmail)">Link user</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
